@{
    ViewBag.Title = "Home Page";
}

<div class="Wrapper">
    <div class="Cover">
        <div class="background">
                <div>
                    <h1 class="font">Submission Dojo</h1>
                </div>
        </div>
    </div>

    <div class="intro">
        <h2 class="font">Intro</h2>
        <p>This site is for the uploading of jiu jistu techniques and any other interesting grappling techniques.
            Users can search or upload any technique they saw or practice to thise site</p>
        <p>There is a Map for users who want to search for any Jiu Jitsu academies. Also included within the site is a 
            detailed guide to the Jiu Jitsu belt system.</p> 
        
    </div>



</div>