<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://submissiondojo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>submissiondojo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SubmissionDojo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SubmissionDojo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:subdojo.database.windows.net,1433;Initial Catalog=DojoContext;Persist Security Info=False;User ID=sean123;Password=seanbrady123$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:subdojo.database.windows.net,1433;Initial Catalog=DojoContext;Persist Security Info=False;User ID=sean123;Password=seanbrady123$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SubmissionDojo.Models.ApplicationDbContext, SubmissionDojo" MigrationConfiguration="SubmissionDojo.Migrations.ApplicationDbContext.Configuration, SubmissionDojo" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DojoContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:subdojo.database.windows.net,1433;Initial Catalog=DojoContext;Persist Security Info=False;User ID=sean123;Password=seanbrady123$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:subdojo.database.windows.net,1433;Initial Catalog=DojoContext;Persist Security Info=False;User ID=sean123;Password=seanbrady123$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SubmissionDojo.DAL.DojoContext, SubmissionDojo" MigrationConfiguration="SubmissionDojo.Migrations.ConfigurationDojo, SubmissionDojo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:subdojo.database.windows.net,1433;Initial Catalog=DojoContext;Persist Security Info=False;User ID=sean123;Password=seanbrady123$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DojoContext-Web.config Connection String">
      <ParameterValue>Server=tcp:subdojo.database.windows.net,1433;Initial Catalog=DojoContext;Persist Security Info=False;User ID=sean123;Password=seanbrady123$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>